/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;

  display: flex;
  flex-direction: row; // Default, not neccessary
  justify-content: space-between; // center, space-around, space-between, space-evenly
  align-items: center; // baseline: align text
}

.item {
  background-color: #f1425d;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
}

.i2 {
  height: 200px;
}

.i3 {
  order: -2;
}

.i4 {
  align-self: flex-end;
  order: -1;
}