* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69;
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;

nav {
  margin: 30px;
  background-color: $color-primary;
}

.navigation {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 30px;
  }
}
