// Colors
$color-primary: #c55555;
$color-light: #b06fd5;
$color-dark: #b42828;

$color-gray-dark: rgba(119, 119, 119, 0.959);
$color-white: rgba(255, 255, 255, 0.959);
$color-black: rgba(0, 0, 0, 0.897);

// Grid
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;
