// Colors
$color-primary: #c55555;
$color-light: #b06fd5;
$color-dark: #b42828;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// Grid
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;
